{
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
		"navigator": true,
		"fetch": true
	},
  "rules": {
    "indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"semi": [
			"error",
			"never"
		],
		"eol-last": [
			"error",
			"always"
		],
    "no-console": 0,
    "comma-dangle": [
			"warn",
			{
				"arrays": "always-multiline",
				"objects": "always-multiline",
				"imports": "always-multiline",
				"exports": "ignore",
				"functions": "ignore"
			}
		],
    "react/prop-types": 1,
    "react-native/no-unused-styles": 1,
    "react-native/split-platform-components": 1,
    "react-native/no-inline-styles": 1,
    "react-native/no-color-literals": 1
  }
}
